# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*

# Environment variables
.env

# Runtime data
pids
*.pid
*.seed

# OS-specific files
.DS_Store
Thumbs.db

# IDE/editor folders
.vscode/
.idea/

# Build outputs
dist/
build/
